
<head>
  <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<div class="card" style="width: flex">
  <div class="card-body">
    <h3 class="card-title" style="text-align: center;">¡Hola!</h3>
    <h6 class="card-subtitle mb-2 text-muted"></h6>
    <p class="font-strong"> Me llamo <strong>Miguel.</strong> Soy antropólogo y programador con diez años de experiencia en la creación y el diseño de software. Me apasiona crear aplicaciones web reactivas y estéticamente agradables que sean funcionales y fáciles de usar.

      Tengo experiencia con una variedad de lenguajes de programación y frameworks, incluyendo Python, Java, Angular y Springboot entre otros. Estoy constantemente aprendiendo y manteniéndome al día de los últimos avances en desarrollo web para asegurarme de que puedo ofrecer a mis clientes las mejores soluciones posibles.
      
      Además de mis habilidades técnicas, soy un solucionador de problemas creativo con excelentes habilidades de comunicación y colaboración. He trabajado en una amplia gama de proyectos, desde pequeños sitios web para empresas locales hasta plataformas de comercio electrónico a gran escala, y soy capaz de adaptarme a cualquier proyecto y ofrecer resultados de alta calidad.
      
      Estoy encantado de aportar mis habilidades y experiencia a su equipo y ayudar a crear soluciones web increíbles. 
      
    </p>
    <a href="#proyectos_elementos" class="card-link">Proyectos</a>
    <a href="mailto:miguel.algranti@gmail.com" target="_blank" class="card-link">Contacto</a>
  </div>
</div>
