
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap" rel="stylesheet">
</head>
<div class="card" style="width: flex" *ngIf="persona">
  <div class="card-body">
     <button *ngIf="isLogged" class="btn-right2" routerLink="/editacercade/1"><i class="fa fa-pen" ></i></button> 
    <h5> {{persona?.descripcion}} </h5>
    <a href="#proyectos_elementos" class="card-link">mirá alguno de mi proyectos</a>
    <a href="mailto:miguel.algranti@gmail.com" target="_blank" class="card-link">Contacto</a>
  </div>
</div>
