
<div class="row">
  <div class="col-sm-6">
  <div class="card bg-light mb-3" style="max-width: flex;">
    <div class="card-header">Desarrollador Web</div> <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
    <div class="card-body">
      <h5 class="card-title">Full-stack Junior</h5><img class="Logo" src="../assets/logos/Python-logo-notext.png"><img class="Logo" src="../assets/logos/java-logo-1.png"><img class="Logo" src="../assets/logos/Angular_full_color_logo.png"><img class="Logo" src="../assets/logos/Bootstrap_logo.png"><img class="Logo" src="../assets/logos/spring-boot-logo.svg"><img class="Logo" src="../assets/logos/Typescript_logo_2020.png">
      <p class="card-text">Phyton, C++, Javascript, Typescript, HTML5, CSS, PHP, Angular, Bootstrap, Springboot, Mysql, Flash, Visual BASIC y esto pare igualar</p>
    </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card bg-light mb-3" style="max-width: flex;">
        <div class="card-header">Investigador social</div> 
        <div class="card-body">
          <h5 class="card-title">Doctorando en Ciencias Sociales</h5><img class="Logo" src="../assets/logos/600px-UBA.png">                 
                 <img class="Logo" src="../assets/logos/800px-Conicet_Logo_con_letras.png">        <img class="Logo" src="../assets/logos/LogoUF-vertical-web.png"> <img class="Logo" src="../assets/logos/UNA-logo.png">
          <p class="card-text">Licenciado en Ciencias Antropológicas con orientación sociocultural (2009) Doctor en Ciencias Sociales (2022). Universidad de Buenos Aires</p>
        </div>
        </div>
      </div>
  <div class="col-sm-6">
  <div class="card bg-light mb-3" style="max-width: flex;">
    <div class="card-header">Cultura</div>
    <div class="card-body">
      <h5 class="card-title">Diversidad Religiosa</h5>
      <p class="card-text">Pluralismo religioso, Esoterismo Occidental, Espiritualismo moderno, Espiritismo, Mediumnidad</p>
    </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card bg-light mb-3" style="max-width: flex;">
      <div class="card-header">A.I. Researcher</div>
      <div class="card-body">
        <h5 class="card-title">Redes Neuronales</h5>
        <p class="card-text">AIMA, pyDatalog, SimpleAI, EasyAI, neurolab, ffnet,FANN, PyAnn, pyrenn</p>
      </div>
      </div>
    </div>
    </div>  
