<div>
  <div class="card border-light mb-6" style="max-width: flex;">
    <h2 class="card-header bg-light border-light">Educacion y Academia</h2> <button *ngIf="isLogged" type="button" class="fa-plus" data-bs-toggle="modal" data-bs-target="#Modaleditor22"></button>
    <div class="modal fade" id="Modaleditor22" tabindex="-1" aria-labelledby="Modaleditor22" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="Modaleditor9">Nueva Entrada</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" routerLink="/nuevaedu" *ngIf="isLogged"></button>
          </div>
          <div class="mb-3"><div>
              <label>Fecha:
                <input class="form-control">
              </label>
              <label>Posición:
                <input class="form-control" >
              </label>
              <label>Institución:
                <input class="form-control" >
              </label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" >Save changes</button>
          </div>
        </div>
      </div>
    </div> 
    <div class="card-body text-dark">
                           <ul class="list-group">
                            <tr *ngFor="let Educacion of edu" class="list-group-item" >
                            <td> <img class="Logo" src={{Educacion.imagenEd}}>&nbsp;&nbsp;{{Educacion.periodoEd}}--</td>  
                            <td>{{Educacion.institucionEd}}--</td> 
                            <td>{{Educacion.descripcionEd}}</td>  
                            <td *ngIf="isLogged"><a type="button" class="btn-right2" data-bs-toggle="modal" data-bs-target="#Modaleditor6"><i class="fa fa-pen"></i></a> &nbsp;<td *ngIf="isLogged"></td> <a *ngIf="isLogged" href="#" class="btn-right"><i *ngIf="isLogged" class="fa-solid fa-xmark"></i></a></tr> 
                            <div class="modal fade" id="Modaleditor8" tabindex="-1" aria-labelledby="Modaleditor8" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="Modaleditor6">Nueva Entrada</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" *ngIf="isLogged"></button>
                                  </div>
                                  <div class="mb-3">
                                    <div>
                                      <label>Fecha:
                                        <input class="form-control" />
                                      </label>
                                      <label>Posición:
                                        <input class="form-control" >
                                      </label>
                                      <label>Institución:
                                        <input class="form-control">
                                      </label>
                                    </div>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" >Save changes</button>
                                  </div>
                                </div>
                              </div>
                            </div> 
                          </ul>
      
    </div>
</div>