<div>
  <div class="card border-light mb-6" style="max-width: flex;">
    <h2 class="card-header bg-light border-light">Educacion y Academia</h2> <button *ngIf="isLogged" type="button" class="fa-plus" routerLink="/nuevaedu"></button>
    <div class="card-body text-dark">
                           <ul class="list-group">
                            <tr *ngFor="let Educacion of edu" class="list-group-item" >
                            <td> <img class="Logo" src={{Educacion.imagenEd}}>&nbsp;&nbsp;<strong>{{Educacion.periodoEd}}</strong>&nbsp;&nbsp;</td>  
                            <td>&nbsp;&nbsp;{{Educacion.descripcionEd}}&nbsp;&nbsp;</td> 
                            <td>&nbsp;&nbsp;{{Educacion.institucionEd}}&nbsp;&nbsp;</td>  
                            <td *ngIf="isLogged"><a class="btn-right2" routerLink="/editedu/{{Educacion.id}}"><i class="fa fa-pen"></i></a> &nbsp;<td *ngIf="isLogged"></td> <a *ngIf="isLogged" (click)="delete(Educacion.id)" class="btn-right"><i class="fa-solid fa-xmark"></i></a></tr>  
                          </ul>
      
    </div>
</div>