<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <div class="form-group">
                        <label for="imagenE">Logo/sitio</label>
                        <input type="text" class="form-control" id="imagenP" name="imagenP" [(ngModel)]="imagenP">
                    </div>
                    <div class="form-group">
                        <label for="fechaP">Fecha</label>
                        <input type="text" class="form-control" id="fechaP" name="fechaP" [(ngModel)]="fechaP" required>
                    </div>
                    <label for="nombreP">Nombre</label>
                    <input type="text" class="form-control" id="nombreP" name="nombreP" [(ngModel)]="nombreP" required>
                </div>
                <div class="form-group">
                    <label for="descripcionP">Descripcion del proyecto</label>
                    <input type="text" class="form-control" id="descripcionP" name="descripcionP" [(ngModel)]="descripcionP" required>
                </div>
                <button class="btn btn-primary">
                    Agregar proyecto
                </button>
            </form>
        </div>
    </div>
</div>