<div>
  <div class="card border-light mb-6" style="max-width: flex;">
    <h2 class="card-header bg-light border-light" id="proyectos_elementos">Proyectos</h2> <button *ngIf="isLogged" type="button" class="fa-plus" routerLink="/nuevopro"></button> 
    <div class="card-body text-dark">
                           <ul class="list-group">
                            <tr *ngFor="let Proyecto of pro" class="list-group-item list-group-item-action flex-column align-items-start">
                              <div class="d-flex w-100 justify-content-between">
                                
                            <td><a class="link-dark" href="{{Proyecto.imagenP}}" target="_blank"><h4 class="mb-1">{{Proyecto.fechaP}} - {{Proyecto.nombreP}}</h4></a>
                            <small>{{Proyecto.descripcionP}}</small>
                            <td *ngIf="isLogged"><a class="btn-right2" routerLink="/editpro/{{Proyecto.id}}"><i class="fa fa-pen" ></i></a>  &nbsp; &nbsp;&nbsp; &nbsp;<a *ngIf="isLogged" (click)="delete(Proyecto.id)" class="btn-right"><i class="fa-solid fa-xmark"></i></a>
                          
                       
      
  

