<div id="card mat-card" id="first-card">
    <div id="profile-background"><img [src]="miPortfolio.imagenBackground"></div>
<a style="color: #3b5998;" href="#!" role="button"
><i class="fab fa-facebook-f fa-2x"></i
></a>
<a style="color: #55acee;" href="https://twitter.com/DrRavalli" role="button"
><i class="fab fa-twitter fa-2x"></i
></a>
<a style="color: #ac2bac;" href="https://www.instagram.com/miguel.algranti/" role="button"
><i class="fab fa-instagram fa-2x"></i
></a>
      <button  class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal">Login</button>
      <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered-lg">
      
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <div class="myform bg-dark">
              <h1 class="text-center">Login editor</h1>
              <form>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Usuario</label>
                  <input type="usuario" class="form-control" id="exampleInpuyusuario"> 
                </div>
                  <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label input-lg">Contraseña</label>
                      <input type="password" class="form-control" id="exampleInputPassword">
                  </div>
                  <button type="submit" class="btn btn-light2 mt-3">INGRESAR</button>
                 
              
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div id="AP-img">
      <img class="AP-img" src="../assets/logos/APLogo-20-20.png">
  </div>
<div id="info" style="padding: 16px">
<div id="info-img">
    <img class="profile-image" [src]="miPortfolio.imagenPerfil"> 
</div>
<div id="info-data"> 
  <div>
      <h1>{{miPortfolio.nombre}}</h1>  
      <div id="info-company">{{miPortfolio.Keywords}}</div> <span>{{miPortfolio.locacion}}</span> <a type="button" class="btn-right2" data-bs-toggle="modal" data-bs-target="#Modaleditor"><i class="fa fa-pen"></i></a>
          <span><a href="#">Información de contacto</a></span></div>
      <div class="modal fade" id="Modaleditor" tabindex="-1" aria-labelledby="Modaleditor" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="Modaleditor">Modo Edición</h1>
            </div>
            <div class="mb-3">
              <div>
                <label>Nombre:
                  <input class="form-control" placeholder="miPortfolio.nombre" [(ngModel)]="miPortfolio.nombre"/>
                </label>
                <label>Keywords:
                  <input class="form-control" [(ngModel)]="miPortfolio.Keywords"/>
                </label>
                <label>Locación:
                  <input class="form-control" [(ngModel)]="miPortfolio.locacion"/>
                </label>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" >Save changes</button>
            </div>
          </div>
        </div>
      </div>
      
  </div>
