<div id="card mat-card" id="first-card">
    <div id="profile-background"><img src="../assets/media/background2.jpg"></div>
<a style="color: #3b5998;" href="#!" role="button"
><i class="fab fa-facebook-f fa-2x"></i
></a>
<a style="color: #55acee;" href="https://twitter.com/DrRavalli" role="button"
><i class="fab fa-twitter fa-2x"></i
></a>
<a style="color: #ac2bac;" href="https://www.instagram.com/miguel.algranti/" role="button"
><i class="fab fa-instagram fa-2x"></i
></a>
      <button  class="btn btn-light"  (click)="login()" *ngIf="!isLogged">Login</button>
      <button  class="btn btn-light"  (click)="onLogOut()" *ngIf="isLogged">Logout</button>
    <div id="AP-img">
      <img class="AP-img" src="../assets/logos/APLogo-20-20.png">
  </div>
<div id="info" style="padding: 16px">
<div id="info-img">
    <img class="profile-image" src="../assets/media/jazz.jpeg"> 
</div>
<div id="info-data"> 
  <div>
      <h1>{{persona?.nombre}} {{persona?.apellido}}</h1>  
      <h5>Full Stack Developer Jr.</h5> <span>Buenos Aires, Argentina</span> 
          <span>&nbsp;&nbsp;<a href="#">Información de contacto</a></span></div>
   
  </div>
