.form-control {
    border-radius: 2%;
    width: 150px;
    height: 28px;
    z-index: 0;
    position: absolute;
    top:35px;
    right:4px;

}
.form-control2 {
    border-radius: 2%;
    width: 150px;
    height: 28px;
    z-index: 0;
    position: absolute;
    top:65px;
    right:4px;

}