.btn-right {
    position:absolute;
    top:95%;
    right:2%;
    color:black;
}
.btn-close {
  position: relative;
  top: 2%;
  right: 15%;
}
.btn-right2 {
  position:relative;
  top:-70px;
  left:430px;
  color:black;
}
.btn-light2 {
    color:grey;
    background-color: white;
    width: 100px;
    height: 35px;
    z-index: 0;
    position: absolute;
    top:20px;
    right:10px;

}
.btn-light {
  color:grey;
  background-color: white;
  width: 100px;
  height: 35px;
  z-index: 0;
  position: absolute;
  top:45px;
  right:10px;

}
.fa-twitter{
    position: absolute;
    top:12px;
    right:80px;

}
.fa-instagram {
    position: absolute;
    top:12px;
    right:42px;
}
.fa-facebook-f {
    position: absolute;
    top:10px;
    right:10px;
}
.myform {
    max-width: 100%;
  }
  .modal-body {
    padding: 0;
  }
  .modal-content {
    width: 100%;
    margin: 0 auto;
  }
  .modal-body {
    padding: 0;
  }
  .btn-close {
    position: absolute;
    right: 0;
    padding: 1em;
  }
  h1 {
    font-size: 2.3em;
    font-weight: bold;
  }
  .myform {
    padding: 2em;
    max-width: 100%;
    color: #fff;
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
    @media (max-width: 576px) {
      max-width: 90%;
      margin: 0 auto;
    }
  }
  .form-control:focus {
    box-shadow: inset 0 -1px 0 #7e7e7e;
  }
  .form-control {
    background-color: inherit;
    color: #fff;
    padding-left: 0;
    position: relative;
    top: 40%;
    right: 0%;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #fff;
  }
  .form-control2 {
    background-color: inherit;
    color: #fff;
    padding-left: 0;
    position: relative;
    top: 40%;
    right: -2%;
    border: 0;
    z-index: 2;
    border-radius: 0;
    border-bottom: 1px solid #fff;
  }
  .myform .btn {
    width: 100%;
    position:relative;
    bottom: 5%;
    font-weight: 800;
    background-color: #fff;
    border-radius: 0;
    padding: 0.5em 0;
  }
  .myform .btn:hover {
    background-color: inherit;
    color: #fff;
    border-color: #fff;
  }
  p {
    text-align: center;
    padding-top: 2em;
    color: grey;
  }
  p a {
    color: #e1e1e1;
    text-decoration: none;
  }
  p a:hover {
    color: #fff;
  }