<div id="card mat-card" id="first-card">
    <div id="profile-background"><img src="../assets/media/background2.jpg"></div>
<a style="color: #3b5998;" href="#!" role="button"
><i class="fab fa-facebook-f fa-2x"></i
></a>
<a style="color: #55acee;" href="https://twitter.com/DrRavalli" role="button"
><i class="fab fa-twitter fa-2x"></i
></a>
<a style="color: #ac2bac;" href="https://www.instagram.com/miguel.algranti/" role="button"
><i class="fab fa-instagram fa-2x"></i
></a>
      <button  class="btn btn-light"  (click)="login()" *ngIf="!isLogged">Login</button>
      <button  class="btn btn-light"  (click)="onLogOut()" *ngIf="isLogged">Logout</button>
    <div id="AP-img">
      <img class="AP-img" src="../assets/logos/APLogo-20-20.png">
  </div>
<div id="info" style="padding: 30px">
<div id="info-img" style="padding:16 0px; margin-top:auto;">
    <img class="profile-image" src={{persona?.img}}> 
</div>
<div id="info-data"> 
  <div>
      <h1>{{persona?.nombre}} {{persona?.apellido}}</h1> <button *ngIf="isLogged" class="btn-right2" routerLink="/editacercade/1"><i class="fa fa-pen" ></i></button>  
      <h5>Full Stack Web Developer</h5>
      <h5>Antropología</h5>
      <span>Buenos Aires,  Argentina</span> &nbsp; <a href="#">contacto</a>
          </div>
   
  </div>
