<div>
    <div class="card border-light mb-6" style="max-width: flex;">
      <h2 class="card-header bg-light border-light">Experiencia Laboral</h2>
      <div class="card-body text-dark">
        <h5 class="card-title">Institucional</h5>
        <p class="card-text">
                             <ul class="list-group">
                              <li *ngFor="let experience of experienciaList" class="list-group-item"><img class="Logo" [src]="experience.imagen"> {{experience.periodo}} - {{experience.puesto}} - {{experience.institucion}}</li> 
                              
                            </ul>
        
      </div>
  </div>
  <div>
    <div class="card border-light mb-6" style="max-width: flex;">
      <h2 class="card-header bg-light border-light">Educación - Academia</h2>
      <div class="card-body text-dark">
        <h5 class="card-title">Diplomas y Títulos</h5>
        <p class="card-text">
                             <ul class="list-group">
                              <li *ngFor="let education of educacionList" class="list-group-item"><img class="Logo" [src]="education.imagen"> {{education.anoinicio}} - {{education.titulo}} - {{education.institucion}}</li> 
                            </ul>
        
      </div>
