<div class="card border-light mb-6" style="max-width: flex;">
    <h2 class="card-header bg-light border-light">Hard & Soft Skills</h2> <button *ngIf="isLogged"  type="button" class="fa-plus"></button>
</div>
<h5>&nbsp;&nbsp;Tecnologías - Stack </h5>
<div class="row">
<div class="col-md-3 col-sm-6">
  <div class="progress blue">
      <span class="progress-left">
          <span class="progress-bar"></span>
      </span>
      <span class="progress-right">
          <span class="progress-bar"></span>
      </span>
      <div class="progress-value">Angular</div>
  </div>
</div>
<div class="col-md-3 col-sm-6">
<div class="progress blue">
    <span class="progress-left">
        <span class="progress-bar"></span>
    </span>
    <span class="progress-right">
        <span class="progress-bar"></span>
    </span>
    <div class="progress-value">Bootstrap</div>
</div>

</div>
<div class="col-md-3 col-sm-6">
  <div class="progress yellow">
      <span class="progress-left">
          <span class="progress-bar"></span>
      </span>
      <span class="progress-right">
          <span class="progress-bar"></span>
      </span>
      <div class="progress-value">Springboot</div>
  </div>

</div> 
<div class="col-md-3 col-sm-6">
  <div class="progress yellow">
      <span class="progress-left"> 
          <span class="progress-bar"></span>
      </span>
      <span class="progress-right">
          <span class="progress-bar"></span>
      </span>
      <div class="progress-value">MySQL</div>
  </div>

</div>   <h5>&nbsp;&nbsp;Lenguajes Formales</h5>
<div class="row">
<div class="col-md-3 col-sm-6">
  <div class="progress blue">
      <span class="progress-left">
          <span class="progress-bar"></span>
      </span>
      <span class="progress-right">
          <span class="progress-bar"></span>
      </span>
      <div class="progress-value">Python</div>
  </div>
</div>
<div class="col-md-3 col-sm-6">
<div class="progress green">
    <span class="progress-left">
        <span class="progress-bar"></span>
    </span>
    <span class="progress-right">
        <span class="progress-bar"></span>
    </span>
    <div class="progress-value">Java</div>
</div>

</div>
<div class="col-md-3 col-sm-6">
  <div class="progress green">
      <span class="progress-left">
          <span class="progress-bar"></span>
      </span>
      <span class="progress-right">
          <span class="progress-bar"></span>
      </span>
      <div class="progress-value">Typescript</div>
  </div>

</div>
<div class="col-md-3 col-sm-6">
  <div class="progress blue">
      <span class="progress-left">
          <span class="progress-bar"></span>
      </span>
      <span class="progress-right">
          <span class="progress-bar"></span>
      </span>
      <div class="progress-value">C++</div>
  </div>

</div> 
</div> 
  <h5>&nbsp;&nbsp;Lenguajes Naturales </h5>
<div class="row">
<div class="col-md-3 col-sm-6">
  <div class="progress blue">
      <span class="progress-left">
          <span class="progress-bar"></span>
      </span>
      <span class="progress-right">
          <span class="progress-bar"></span>
      </span>
      <div class="progress-value">Español</div>
  </div>
</div>
<div class="col-md-3 col-sm-6">
<div class="progress green">
    <span class="progress-left">
        <span class="progress-bar"></span>
    </span>
    <span class="progress-right">
        <span class="progress-bar"></span>
    </span>
    <div class="progress-value">Inglés</div>
</div>

</div>
<div class="col-md-3 col-sm-6">
  <div class="progress green">
      <span class="progress-left">
          <span class="progress-bar"></span>
      </span>
      <span class="progress-right">
          <span class="progress-bar"></span>
      </span>
      <div class="progress-value">Portugués</div>
  </div>

</div>
<div class="col-md-3 col-sm-6">
  <div class="progress blue">
      <span class="progress-left">
          <span class="progress-bar"></span>
      </span>
      <span class="progress-right">
          <span class="progress-bar"></span>
      </span>
      <div class="progress-value">Francés</div>
  </div>

</div> 
<h5>&nbsp;&nbsp;Comunicación </h5>
<div class="row">
<div class="col-md-3 col-sm-6">
  <div class="progress blue">
      <span class="progress-left">
          <span class="progress-bar"></span>
      </span>
      <span class="progress-right">
          <span class="progress-bar"></span>
      </span>
      <div class="progress-value">Comunicativo</div>
  </div>
</div>
<div class="col-md-3 col-sm-6">
<div class="progress green">
    <span class="progress-left">
        <span class="progress-bar"></span>
    </span>
    <span class="progress-right">
        <span class="progress-bar"></span>
    </span>
    <div class="progress-value">Iniciativa</div>
</div>

</div>
<div class="col-md-3 col-sm-6">
  <div class="progress green">
      <span class="progress-left">
          <span class="progress-bar"></span>
      </span>
      <span class="progress-right">
          <span class="progress-bar"></span>
      </span>
      <div class="progress-value">Proactivo</div>
  </div>

</div>
<div class="col-md-3 col-sm-6">
  <div class="progress blue">
      <span class="progress-left">
          <span class="progress-bar"></span>
      </span>
      <span class="progress-right">
          <span class="progress-bar"></span>
      </span>
      <div class="progress-value">Analítico</div>
  </div>

</div> 