<div class="card border-light mb-6" style="max-width: flex;">
    <h2 class="card-header bg-light border-light">Hard & Soft skills</h2>
    <button type="button" routerLink="/newskill" class="fa-plus" *ngIf="isLogged"></button>
<div class="row">
    <div class="text-center col-sm-4 col-md-4 col-lg-4 circulo" *ngFor="let skill of skill">
   <div><circle-progress 
        [percent]="(skill.porcentaje)" 
        [radius]="90" [imageSrc]="''" 
        [title]="(skill.nombre)"
        [titleColor]="'#212F3C'"
        [showTitle]="true" 
        [showImage]="false" 
        [imageHeight]="70" 
        [imageWidth]="70" 
        [showUnits]="false"
        [showSubtitle]="false" 
        [outerStrokeWidth]="16" 
        [innerStrokeWidth]="2" 
        [outerStrokeColor]="(skill.color)"
        [innerStrokeColor]="(skill.color)" 
        [animation]="true" 
        [animationDuration]="400">
        </circle-progress></div> 


    <div>
        <td *ngIf="isLogged">
            <button class="btn btn-light" routerLink="/editskill/{{skill.id}}">
                <i class="fa fa-pen"></i></button>
        </td>
        <td *ngIf="isLogged">
            <button class="fa-solid fa-xmark" (click)="delete(skill.id)">
                <i class="bi bi-trash-fill"></i></button>
        </td>
    </div>
</div>

