<div class="card border-light mb-6" style="max-width: flex;">
    <h2 class="card-header bg-light border-light">Aptitudes</h2>
</div>
<h5> Lenguajes naturales</h5>
<div class="row">
<div class="col-md-3 col-sm-6">
  <div class="progress yellow">
      <span class="progress-left">
          <span class="progress-bar"></span>
      </span>
      <span class="progress-right">
          <span class="progress-bar"></span>
      </span>
      <div class="progress-value">Inglés</div>
  </div>
</div>
<div class="col-md-3 col-sm-6">
<div class="progress red">
    <span class="progress-left">
        <span class="progress-bar"></span>
    </span>
    <span class="progress-right">
        <span class="progress-bar"></span>
    </span>
    <div class="progress-value">Español</div>
</div>

</div>
<div class="col-md-3 col-sm-6">
  <div class="progress green">
      <span class="progress-left">
          <span class="progress-bar"></span>
      </span>
      <span class="progress-right">
          <span class="progress-bar"></span>
      </span>
      <div class="progress-value">Francés</div>
  </div>

</div> 
<div class="col-md-3 col-sm-6">
  <div class="progress blue">
      <span class="progress-left">
          <span class="progress-bar"></span>
      </span>
      <span class="progress-right">
          <span class="progress-bar"></span>
      </span>
      <div class="progress-value">Portugués</div>
  </div>

</div>   <h5> Lenguajes Formales</h5>
<div class="row">
<div class="col-md-3 col-sm-6">
  <div class="progress yellow">
      <span class="progress-left">
          <span class="progress-bar"></span>
      </span>
      <span class="progress-right">
          <span class="progress-bar"></span>
      </span>
      <div class="progress-value">Python</div>
  </div>
</div>
<div class="col-md-3 col-sm-6">
<div class="progress red">
    <span class="progress-left">
        <span class="progress-bar"></span>
    </span>
    <span class="progress-right">
        <span class="progress-bar"></span>
    </span>
    <div class="progress-value">Java</div>
</div>

</div>
<div class="col-md-3 col-sm-6">
  <div class="progress green">
      <span class="progress-left">
          <span class="progress-bar"></span>
      </span>
      <span class="progress-right">
          <span class="progress-bar"></span>
      </span>
      <div class="progress-value">C++</div>
  </div>

</div>
<div class="col-md-3 col-sm-6">
  <div class="progress blue">
      <span class="progress-left">
          <span class="progress-bar"></span>
      </span>
      <span class="progress-right">
          <span class="progress-bar"></span>
      </span>
      <div class="progress-value">Typescript</div>
  </div>

</div> 